/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* Common Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    max-width: 1200px;
    margin: 50px 140px 0;
    padding: 0;
}

/* Header Section Styles Starts */
header {
    width: 100%;
    background-color: #161616;
    height: 500px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
}

.left-header {
    color: white;
    width: 80%;
    height: 300px;
    margin: auto;
}

.left-header h1 {
    display: inline;
    font-size: 40px;
    font-weight: 700;
}

.left-header p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.left-header-button {
    background-color: #DD0000;
    width: 225px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-header-button a {
    text-decoration: none;
}

.left-header-button:hover {
    background-color: orange;
}

.left-header-button samp {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    padding-right: 20px;
}

.left-header-button:active {
    background-color: orangered;
    box-shadow: 0 5px #4c2010;
    transform: translateY(4px);
}

.fa-angle-right {
    width: 10px;
}

.right-header img {
    height: 100%;
    width: 80%;
}

/* Header Section Styles Ends */
/* Main Body Sections Styles Starts */
main {
    max-width: 1200px;
    margin: 130px 0;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
}

aside {
    /* width: 22%; */
    height: 290px;
    /* float: left; */
    background-color: #161616;
    border-radius: 10px;
    /* margin-right: 10px; */
}

.right-contain {
    width: 70%;
    float: right;
}

/* Side Navigation Styles Starts */
.side-navbar ul {
    padding: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 30px;
    justify-content: center;
    justify-items: center;
}

.side-navbar ul li {
    list-style-type: none;
}

.side-navbar ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 64px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 10px;
}

#visited {
    background-color: red;
    color: white;
}

/* Side Navigation Styles Ends */
/* Right Section Starts */
.games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.game,
.match {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.game .game-banner img {
    width: 100%;
    height: 150px;
}

.game-detail {
    margin-top: 15px;
    margin-left: 15px;
}

.right-section-button {
    height: 30px;
    width: 110px;
    border-radius: 10px;
}

.game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.game-duration-comments {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    width: 100px;
    height: 25px;
    color: #161616;
    opacity: 70%;
}

.fa-clock {
    font-size: 25px;
    color: #161616;
}

.fa-comment-dots {
    font-size: 25px;
    color: #161616;
}

.match {
    text-align: center;
}

.match-banner {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.match-banner img {
    width: 100px;
    height: 80px;
}

.match-date {
    font-size: 14px;
    opacity: 40%;
}

.tab-footer {
    display: none;
}

.tab-button {
    margin: 100pxx;
}

.tab-button a {
    padding: 15px;
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

/* Right Section Ends */
/* Main Body Section Styles Ends */


/* Footer Styels Starts */
.main-footer {
    color: #FFFFFF;
    background-color: #161616;
    width: 100%;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

/* Footer Top Section Styles Starts */
.top-footer {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

/* Footer Top Section Styles Ends */
hr {
    color: #FFFFFF;
    opacity: 10%;
    width: 1086px;
    margin: 50px 140px;
}

/* Footer Bottom Section (Navigation Bar) */
.footer-navbar ul {
    display: inline;
    padding: 0;
    margin: 0;
}

.footer-navbar ul li {
    display: inline;
    font-size: 18px;
    margin: 30px;
}

.footer-navbar ul li a {
    text-decoration: none;
    color: #B9B9B9;
}

.footer-navbar ul li a:hover {
    color: orange;
}

#social-links {
    margin: 25px 0;
}

/* Footer Styels Ends */

/* Media Queries */
/* Mobile Devices */
@media only screen and (max-width:688px) {
    .main-container {
        margin: 50px 30px 0;
        padding: 0;
    }

    header {
        height: 680px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }

    .left-header {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .text-ellipsis {
        white-space: nowrap;
        width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text-ellipsis:active {
        overflow: visible;
        white-space: normal;
    }

    main {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }

    aside {
        /* margin-top: 50px; */
        margin-bottom: 50px;
        width: 100%;
        height: 290px;
        background-color: white;
    }

    .side-navbar ul {
        margin-top: 30px;
        grid-template-rows: repeat(3, 1fr);
    }

    .side-navbar ul li a {
        border: 1px solid #E8E8E8;
    }

    .games {
        grid-template-columns: repeat(1, 1fr);
    }

    .game .game-banner img {
        height: 300px;
    }

    hr {
        width: 536px;
        margin: 0 76px;
    }

    .main-footer {
        height: auto;
    }

    #social-links ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer-navbar ul {
        display: flex;
        flex-direction: column;
    }
}

/* Tablet Devices */
@media only screen and (min-width:689px) and (max-width:992px) {
    header {
        height: 600px;
    }
    .text-ellipsis {
        white-space: nowrap;
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .text-ellipsis:active {
        overflow: visible;
        white-space: normal;
    }
    main {
        display: inline;
    }

    aside {
        margin-top: 50px;
        width: 100%;
        height: 290px;
        background-color: white;
    }

    .right-contain {
        width: 100%;
    }

    .side-navbar ul {
        margin-top: 30px;
        grid-template-columns: repeat(3, 1fr);
    }

    .side-navbar ul li a {
        border: 1px solid #E8E8E8;
    }

    .double-view {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 30px;
        justify-content: center;
        justify-items: center;
    }

    .tab-footer {
        display: block;
        margin-bottom: 50px;
    }

    .games {
        grid-template-columns: repeat(2, 1fr);
    }
    hr {
        width: 536px;
        margin: 0 200px;
    }
    .main-footer {
        height: auto;
    }
    .footer-navbar ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}